In [1]:
import pandas as pd
import numpy as np
import re, string
from os import path, getcwd
from collections import defaultdict
from datetime import datetime

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import chi2
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import chi2

from sklearn import model_selection, naive_bayes, svm
from sklearn.naive_bayes import MultinomialNB
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier, GradientBoostingClassifier, BaggingClassifier, RandomForestClassifier

from sklearn.semi_supervised import LabelSpreading
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold, KFold, cross_val_predict

import validators
import nltk
from info_gain.info_gain import info_gain_ratio
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

In [3]:
import csv
fdir = path.join(getcwd(), "")

train_data = "train-raw.tsv"
test_data = "test-raw.tsv"
dev_data = "dev-raw.tsv"

train_fpath = path.join(fdir, train_data)
test_fpath = path.join(fdir, test_data)
dev_fpath = path.join(fdir, dev_data)

train = pd.read_csv(train_fpath, encoding="utf_8", delimiter="\t", index_col="Instance_ID",  quoting=csv.QUOTE_NONE, error_bad_lines=False)
test = pd.read_csv(test_fpath, encoding="utf_8", delimiter="\t" , index_col="Instance_ID", quoting=csv.QUOTE_NONE, error_bad_lines=False)
dev = pd.read_csv(dev_fpath, encoding="utf_8", delimiter="\t" , index_col="Instance_ID")

In [4]:
inputs = 'Text'
output = 'Location'
x_train = train[inputs]
y_train = train[output]
x_test = test[inputs]
y_test = test[output]
x_dev = dev[inputs]
y_dev = dev[output]

In [27]:
skf = KFold(10, False)

tt = {}
num = 0
print(y_train)
print(y_train)
for train, test in skf.split(x_train, y_train):
    tt[num] = y[train]
    print(y_val)
    print(len(train))
    num+=1

Instance_ID
1         Melbourne
2         Melbourne
3          Brisbane
4             Perth
5             Perth
6         Melbourne
7         Melbourne
8         Melbourne
9            Sydney
10         Brisbane
11        Melbourne
12         Brisbane
13           Sydney
14         Brisbane
15           Sydney
16            Perth
17           Sydney
18            Perth
19           Sydney
20        Melbourne
21            Perth
22         Brisbane
23        Melbourne
24            Perth
25           Sydney
26        Melbourne
27         Brisbane
28            Perth
29            Perth
30        Melbourne
            ...
103335    Melbourne
103336    Melbourne
103337     Brisbane
103338       Sydney
103339     Brisbane
103340     Brisbane
103341     Brisbane
103342    Melbourne
103343       Sydney
103344        Perth
103345        Perth
103346    Melbourne
103347       Sydney
103348    Melbourne
103349    Melbourne
103350    Melbourne
103351        Perth
103352       Sydney
103353    Melbourne
103354     Brisbane
103355       Sydney
103356    Melbourne
103357    Melbourne
103358        Perth
103359    Melbourne
103360       Sydney
103361    Melbourne
103362        Perth
103363    Melbourne
103364       Sydney
Name: Location, Length: 103364, dtype: object
Instance_ID
1         Melbourne
2         Melbourne
3          Brisbane
4             Perth
5             Perth
6         Melbourne
7         Melbourne
8         Melbourne
9            Sydney
10         Brisbane
11        Melbourne
12         Brisbane
13           Sydney
14         Brisbane
15           Sydney
16            Perth
17           Sydney
18            Perth
19           Sydney
20        Melbourne
21            Perth
22         Brisbane
23        Melbourne
24            Perth
25           Sydney
26        Melbourne
27         Brisbane
28            Perth
29            Perth
30        Melbourne
            ...
103335    Melbourne
103336    Melbourne
103337     Brisbane
103338       Sydney
103339     Brisbane
103340     Brisbane
103341     Brisbane
103342    Melbourne
103343       Sydney
103344        Perth
103345        Perth
103346    Melbourne
103347       Sydney
103348    Melbourne
103349    Melbourne
103350    Melbourne
103351        Perth
103352       Sydney
103353    Melbourne
103354     Brisbane
103355       Sydney
103356    Melbourne
103357    Melbourne
103358        Perth
103359    Melbourne
103360       Sydney
103361    Melbourne
103362        Perth
103363    Melbourne
103364       Sydney
Name: Location, Length: 103364, dtype: object
93027
93027
93027
93027

C:\Users\farha\Anaconda3\lib\site-packages\pandas\core\series.py:696: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

93028
93028
93028
93028
93028
93028

In [45]:
# df = pd.DataFrame(tt)

In [55]:
from sklearn import preprocessing
coli = ["Melbourne", "Perth", "Sydney", "Brisbane"]
kuda = ["Melbourne", "Perth", "Sydney", "Brisbane"]
test = ["Melbourne", "Sydney", "Sydney", "Brisbane"]
text = ["Melbourne", "Perth", "Sydney", "Brisbane"]
mushrooms = ["Melbourne", "Perth", "Sydney", "Melbourne"]

tete = {}
tete[1] = coli
tete[2] = kuda
tete[3] = test
tete[4] = text

sampah = pd.DataFrame(tete)

enc = preprocessing.LabelEncoder()
mushrooms = ["Melbourne", "Perth", "Sydney", "Brisbane"]
enc.fit(mushrooms)
classes = enc.transform(mushrooms)
print(classes)
print (enc.inverse_transform(classes))

[1 2 3 0]
['Melbourne' 'Perth' 'Sydney' 'Brisbane']

C:\Users\farha\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [60]:
sampah.apply(LabelEncoder().fit_transform)
sampah

           1          2          3          4
0  Melbourne  Melbourne  Melbourne  Melbourne
1      Perth      Perth     Sydney      Perth
2     Sydney     Sydney     Sydney     Sydney
3   Brisbane   Brisbane   Brisbane   Brisbane